*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.heading{
    color: #000;
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    
}
img{
    border-radius: 5px;
}
.main{
    display: flex;
    justify-content: center;   
    gap: 20px;                 
    margin: 30px;             
}
.parent{
    height: 420px;
    width: 300px;
    background-color: rgba(255, 0, 136, 0.0);
    margin: 10px;
    display:inline-block;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 1px 1px 3px black;
}
.parent h2{
 margin: 15px;
}
.parent p{
 margin: 15px; 
}
.pages{
     display: flex;
    justify-content: center;   
    gap:10px;
}
span{
    background-color: black;
    color: white;
    padding: 10px;
}
hr{
    margin: 30px;
}
#para{
    text-align: center;
    width: 1000px;
}
.footer{
    display:flex ;
    justify-content: center;
    margin: 25px;


}
.parent1{
    height: 350px;
    width: 300px;
    padding: 30px;
}
 a{
    color: #000;
 }
.child{
    display: flex;
    margin: 30px 5px;
}
.menu p{
  background-color: gray;
  color: white;
  display: inline-block;  
  padding: 5px;
  margin: 8px 5px;
  border-radius: 5px;
}
